/* background color set in * in index.css */

.App {
  text-align: center;
}

.Calculator {
  height: 300px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.CalcBGColor {
  background: lightblue;
}
